
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/bootstrap/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/bootstrap/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/bootstrap/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<style>
    #divMian {
        padding: 5px;
    }

    .aoptionblog {
        margin-right: 5px;
        text-decoration: none;
    }

    /* 分页 开始*/
    .pager {
        font-size: 12px;
        margin: 25px 0;
        text-align: center;
        color: #2E6AB1;
        line-height: 200%;
        min-width: 300px;
    }

        .pager a, .pager span a {
            border: 1px solid #9aafe5;
            margin: 0 2px;
            padding: 2px 5px;
            text-decoration: none;
        }

    .currIndex {
        font-weight: bold;
        background-color: #2e6ab1;
        color: white !important;
    }

    /* 分页 结束*/
</style>


<div id="divMian">
    @*<ol class="breadcrumb">
            <li class="active">博客管理</li>
        </ol>*@


    <div class="form-inline" role="form">
        <a href="/Admin/Blog/Add" class="btn btn-primary">添加博客</a>
        <div class="form-group">
            <input id="keyword" type="text" class="form-control" style="width:200px;" placeholder="请输入名称">
        </div>
        <div class="form-group">
            <label>发布时间</label>
        </div>

        <div class="form-group">
            <div class="input-group date form_date" data-date="" value="@DateTime.Now.ToString("yyyy-MM-dd")" data-date-format="yyyy-MM-dd" data-link-format="yyyy-MM-dd">
                <input id="startTime" class="form-control" size="13" type="text" value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>

        <div class="form-group">
            <label>至</label>
        </div>

        <div class="form-group">
            <div class="input-group date form_date" data-date="" value="@DateTime.Now.ToString("yyyy-MM-dd")" data-date-format="yyyy-MM-dd" data-link-format="yyyy-MM-dd">
                <input id="endTime" class="form-control" size="13" type="text" value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>

        <div class="form-group">
            <select id="categorySelect" class="form-control">
                <option value="0">全部</option>
                @foreach (var ic in ViewBag.CyList)
                {
                    <option value="@ic.CategoryId">@ic.CategoryName</option>
                }
            </select>

        </div>

        <button id="btnQuery" type="button" class="btn btn-primary">查询</button>
    </div>

    <table class="table table-bordered">
        <caption>博客列表</caption>
        <thead>
            <tr>
                <th>添加时间</th>
                <th>用户</th>
                <th>类别</th>
                <th>标题</th>
                <th>访问量</th>
                <th>评论数</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="blogList"></tbody>
    </table>


    <div id="Node_Pager">
        <div class="pager">
            <a id="aFirstPage" key="pagerfirst" href="javascript:void(0)">首页</a> |
            <a id="aPrevPage" key="pagerprev" href="javascript:void(0)">上一页</a>
            <span id="sPageList" active="current">
            </span>
            <a id="aNextPage" key="pagernext" href="javascript:void(0)">下一页</a> |
            <a id="aLastPage" key="pagerlast" href="javascript:void(0)">尾页</a>
        </div>
    </div>

    <br />
    <hr />

    <div>
        <table id="tb_departments"></table>
    </div>

</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">提示信息</h4>
            </div>
            <div id="mdText" class="modal-body">提示信息</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
@Html.AntiForgeryToken()

<script type="text/javascript">

    $('.form_date').datetimepicker({
        language: 'zh-CN',
        format: "yyyy-mm-dd",
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });

    $('.form_date').datetimepicker({
        language: 'zh-CN',
        format: "yyyy-mm-dd",
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });

    var pageReload = false;

    var maxPageSize = 10;//显示页数     1 2 3 4
    var pageSize = 15;//每页显示条数
    var pageIndex = 1;//当前页码
    var pageTotalCount;//总页数
    var $sPageList;
    var keyWord = '';//搜索关键字
    var startTime;
    var endTime;
    var categoryId = 0;
    //首页
    $("#aFirstPage").click(function () {
        pageIndex = 1;
        loadBlogs();
    });

    //上一页
    $("#aPrevPage").click(function () {
        pageIndex -= 1;
        if (pageIndex <= 1) {
            pageIndex = 1;
        }
        loadBlogs();
    });

    //下一页
    $("#aNextPage").click(function () {
        pageIndex += 1;
        if (pageIndex >= pageTotalCount) {
            pageIndex = pageTotalCount;
        }
        loadBlogs();
    });

    //尾页
    $("#aLastPage").click(function () {
        pageIndex = pageTotalCount;
        loadBlogs();
    });


    $(function () {

        //模态窗体 关闭后动作
        $('#myModal').on('hidden.bs.modal', function () {
            // 执行一些动作...
            //重新加载页面
            if (pageReload) {
                location.reload();
            }
        });

        $("#btnQuery").click(function () {
            categoryId = $("#categorySelect").val();
            keyWord = $("#keyword").val();
            startTime = $("#startTime").val();
            endTime = $("#endTime").val();
            //加载博客
            pageIndex = 1;
            loadBlogs();



            var params = $('#tb_departments').bootstrapTable('getOptions');
            //console.log(params);
            params.queryParams = function (params) {

                var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                    limit: params.limit,   //页面大小
                    page: (params.offset / params.limit) + 1,  //页码
                    categoryId: $("#categorySelect").val(),
                    keyWord: $("#keyword").val(),
                    startTime: $("#startTime").val(),
                    endTime: $("#endTime").val()
                };
                return temp;
            }
            $('#tb_departments').bootstrapTable('refresh', params);

        });

        $sPageList = $("#sPageList");
        //加载博客
        loadBlogs();

        //1.初始化Table
        var oTable = new TableInit();
        oTable.Init();

    });


    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#tb_departments').bootstrapTable({
                url: '/Admin/Blog/GetListByPageTable',         //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: false,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: false,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 5,                       //每页的记录行数（*）
                pageList: [5, 10],        //可供选择的每页的行数（*）
                search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                height: 0,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "blogId",                     //每一行的唯一标识，一般为主键列
                showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                columns: [{
                    checkbox: true
                }, {
                    field: 'blogId',
                    title: 'ID'
                }, {
                    field: 'createDate',
                    title: '添加时间'
                }, {
                    field: 'title',
                    title: '文章标题'
                },
                {
                    field: 'blogId',
                    title: '操作',
                    formatter: 'actionFormatter'
                }
                ]
            });
        };

        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                limit: params.limit,   //页面大小
                page: (params.offset / params.limit) + 1,  //页码
                categoryId: $("#categorySelect").val(),
                keyWord: $("#keyword").val(),
                startTime: $("#startTime").val(),
                endTime: $("#endTime").val()
            };
            return temp;
        };
        return oTableInit;
    };

    function actionFormatter(value, row, index) {
        return [
            '<a href="javascript:;" class="btn btn-xs btn-primary" title="编辑" onclick="top.showDialog(\'eidtarticle\', \'编辑文章详情\', \'/AdminCP/Article/EditArticle/' + value + '\', 0, 0)"><i class="fa fa-edit"></i> 编辑</a>',
            '<a href="javascript:;" class="btn btn-xs btn-danger m-l-xs" title="删除" onclick="doDel(\'/AdminCP/Article/DelArtice\',' + value + ');"><i class="fa fa-close"></i> 删除</a>',
        ].join('');
    }

    //加载博客
    function loadBlogs() {
        var token = $("input[name='__RequestVerificationToken']").val();
        $.post("/Admin/Blog/GetListByPage", { startTime: startTime, endTime: endTime, categoryId: categoryId, keyWord: keyWord, pageSize: pageSize, pageIndex: pageIndex, __RequestVerificationToken: token }, function (data) {
            if (data.code === 0) {
                pageTotalCount = Math.ceil(data.count / pageSize);//计算总页数
                showPage(pageIndex);
                showblog(data.data);
            }
        });
    }


    //显示博客
    function showblog(blog) {
        var html = '';
        $.each(blog, function (i, obj) {
            html += ' <tr> ';
            html += '    <td>' + obj.createDate + '</td> ';
            //html += '    <td>' + obj.updateDate + '</td> ';
            html += '    <td>' + obj.user.userName + '</td> ';
            //html += '    <td><img src="' + obj.user.userHeadImaUrl + '" id="labHeadUrl" class="pfs" border="0" align="left" /></td> ';
            html += '    <td>' + obj.categoryDto.categoryName + '</td> ';
            html += '    <td>' + obj.title + '</td> ';
            //html += '    <td>' + obj.bodyAbs + '</td> ';
            //html += '    <td>' + obj.description + '</td> ';
            html += '    <td>' + obj.visitCount + '</td> ';
            html += '    <td>' + obj.commentCount + '</td> ';
            html += '    <td><a href="/Admin/Blog/Add/' + obj.blogId + '" class="aoptionblog">编辑</a> ';
            html += '         <a href= "javascript:void(0)" onclick= essenceBlog(' + obj.blogId + ',' + obj.isEssence + ') class="aoptionblog" >';
            html += obj.isEssence == true ? "取消精华" : "设置精华";
            html += '</a ><a href="javascript:void(0)" class="aoptionblog" >下架</a> <a href="javascript:void(0)" onclick=delBlog(' + obj.blogId + ')  class="aoptionblog" >删除</a></td > ';
            html += ' </tr> ';
            //alert(html);
        })
        //alert(html);
        $('#blogList').html(html);
    }

    var spageHtml = '<span > ··· </span>';//页面省略号
    //显示页码
    function showPage(pageIndex) {
        var showPageCount = maxPageSize;
        if (pageTotalCount < maxPageSize) {
            showPageCount = pageTotalCount;
        }

        var html = '';
        if (pageTotalCount <= showPageCount) {// 总页数 <=  显示页数
            for (var i = 1; i <= pageTotalCount; i++) {
                if (pageIndex == i) {
                    html += '<a class="currIndex" href="javascript:void(0)" onclick="jumpPage(this.innerHTML)" >' + i + '</a>';
                }
                else {
                    html += '<a  href="javascript:void(0)" onclick="jumpPage(this.innerHTML)" >' + i + '</a>';
                }
            }
            $sPageList.html(html)
        }
        else {
            if (pageIndex >= pageTotalCount) {//当前页码 >= 总页数
                for (var i = pageTotalCount - showPageCount; i <= pageTotalCount; i++) {
                    if (pageIndex == i) {
                        html += '<a class="currIndex" href="javascript:void(0)" onclick="jumpPage(this.innerHTML)" >' + i + '</a>';
                    }
                    else {
                        html += '<a  href="javascript:void(0)" onclick="jumpPage(this.innerHTML)" >' + i + '</a>';
                    }
                }
                if (pageIndex == pageTotalCount) {//当前页码 == 总页数
                    html = spageHtml + html;
                }
                $sPageList.html(html);
            }
            else if (pageIndex >= showPageCount) {//当前页码 >= 显示页数
                var lePageCount = pageTotalCount - pageIndex;//剩下的页数
                if (lePageCount > showPageCount) {//剩下的页数大于要显示的页数
                    for (var i = pageIndex; i <= showPageCount; i++) {
                        if (pageIndex == i) {
                            html += '<a class="currIndex" href="javascript:void(0)" onclick="jumpPage(this.innerHTML)" >' + i + '</a>';
                        }
                        else {
                            html += '<a  href="javascript:void(0)" onclick="jumpPage(this.innerHTML)" >' + i + '</a>';
                        }
                    }
                    html = html + spageHtml;
                    $sPageList.html(html);
                }
                else if (lePageCount == showPageCount) { //剩下的页数==要显示的页数
                    for (var i = pageIndex; i <= showPageCount; i++) {
                        if (pageIndex == i) {
                            html += '<a class="currIndex" href="javascript:void(0)" onclick="jumpPage(this.innerHTML)" >' + i + '</a>';
                        }
                        else {
                            html += '<a  href="javascript:void(0)" onclick="jumpPage(this.innerHTML)" >' + i + '</a>';
                        }
                    }
                    $sPageList.html(html);
                }
                else {//剩下的页数 < 要显示的页数
                    var prePageCount = showPageCount - lePageCount;//pageIndex 前面还要显示的页数
                    var startPageIndex = pageIndex - prePageCount;//开始显示的页数
                    var endPageIndex = startPageIndex + showPageCount;//结束显示的页数
                    for (var i = startPageIndex; i <= endPageIndex; i++) {
                        if (pageIndex == i) {
                            html += '<a class="currIndex" href="javascript:void(0)" onclick="jumpPage(this.innerHTML)" >' + i + '</a>';
                        }
                        else {
                            html += '<a  href="javascript:void(0)" onclick="jumpPage(this.innerHTML)" >' + i + '</a>';
                        }
                    }
                    if (endPageIndex == pageTotalCount) {//如果结束页数刚好和 总页数相等
                        html = spageHtml + html;
                    }
                    else {
                        html = spageHtml + html + spageHtml;
                    }
                    $sPageList.html(html);
                }

            }
            else {
                for (var i = 1; i <= showPageCount; i++) {
                    if (pageIndex == i) {
                        html += '<a class="currIndex" href="javascript:void(0)" onclick="jumpPage(this.innerHTML)" >' + i + '</a>';
                    }
                    else {
                        html += '<a  href="javascript:void(0)" onclick="jumpPage(this.innerHTML)" >' + i + '</a>';
                    }
                }
                html = html + spageHtml;
                $sPageList.html(html);
            }
        }
    }

    //删除博客
    function delBlog(id) {
        if (confirm("你确定要删除该博客？")) {
            var token = $("input[name='__RequestVerificationToken']").val();
            pageReload = false;
            $.post("/Admin/Blog/Delete/", { blogId: id, __RequestVerificationToken: token }, function (data) {
                if (data.code === 0) {
                    pageReload = true;
                }
                showDialog(data.msg);
            });
        }

    }
    //设置博客精华
    function essenceBlog(blogId, isEssence) {
        pageReload = false;
        var token = $("input[name='__RequestVerificationToken']").val();
        $.post("/Admin/Blog/Essence/", { blogId: blogId, isEssence: isEssence, __RequestVerificationToken: token }, function (data) {
            if (data.code == 0) {
                pageReload = true;
            }
            showDialog(data.msg);
        });
    }

    //选择页面跳转
    function jumpPage(jumpPageIndex) {
        pageIndex = parseInt(jumpPageIndex);
        loadBlogs();
    }


    function showDialog(msg) {
        $('#mdText').text(msg)
        $('#myModal').modal('show')
    }

</script>